/* Genaral Styling */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./assets/beauty.jpg);
 }
 header {
   background-color: none;
   padding: 10px 0;
   position: fixed;
   width: 100%;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   
}
 .main-container{
    display: flex;
    padding: 20px;
    margin: 12px;
    justify-content: space-between;
    align-items: stretch;
    
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full viewport height */
    color: white;
    text-align: center;
    position: relative;
 }
 
.footer{
   color: red;
   background-color: yellowgreen;
   display: flex;
   font-size: 20px;
   font-weight: bold;
   padding: 15px;
   margin: 0;
}
.text-container{
   display: flex;
   position: absolute;
   justify-content: center;
   align-self: center;

}.navbar{
   background-color: none;
   display: flex;
   padding: 30px;
   flex-direction:row-reverse;
   justify-content: flex-end;
   align-items: center;
}
